{{ template "base/top" . }}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/edit/{{ .Movie.MovieName }}">Edit {{ .Movie.MovieName }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit effect ({{ .Pos }})</li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h4>Edit effect at {{ .Pos }} for {{ .Movie.MovieName }}</h4>
        <form>
            <div class="form-group">
                <label for="effect">Effect name</label>
                <input class="form-control" id="effect" name="effect" value="{{ .Effect.EffectName }}">
            </div>
            <div class="form-group">
                <label for="effect">Length in milliseconds</label>
                <input class="form-control" id="length" name="length" value="{{ .Effect.EffectLength }}">
            </div>
            <div class="row">
                <div class="col">
                    <a href="/edit/{{ .Movie.MovieName }}/delete/{{ .Pos }}" class="btn btn-danger btn-block">Delete</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-block">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{ template "base/bottom" . }}
