{{ template "base/top" . }}
<div class="container">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit {{ .Movie.MovieName }}</li>
                </ol>
          </nav>
        <div class="jumbotron">
                <h3>{{ .Movie.MovieName }}</h3>
                
                <table class="table">
                        <thead>
                                <tr>
                                        <th scope="col">Position</th>
                                        <th scope="col">Effect</th>
                                        <th scope="col">Length (ms)</th>
                                        <th scope="col">Edit</th>
                                </tr>
                        </thead>
                        <tbody>
                                        {{range $i, $a := .Sorted}}
                                <tr>
                                        <td>{{ $a.Index }}</td>
                                        <td>{{ $a.Timestamp.EffectName }}</td>
                                        <td>{{ $a.Timestamp.EffectLength }}</td>
                                        <td><a href="/edit/{{ $.Movie.MovieName }}/{{ $a.Index }}" class="btn-small waves-effect waves-light "><i class="far fa-edit"></i></a></td>
                                </tr>
                                {{end}}
                        </tbody>

                </table>
                <p><a href="/edit/{{ .Movie.MovieName }}/new" class="btn btn-success">Add new effect</a></p>

        </div>
</div>
{{ template "base/bottom" . }}
